<a href="https://colab.research.google.com/github/dldbsdn/pythonbasicclass/blob/main/pythonbaisicclass4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
# 복합 대입 연산자.
a = 1
print(a)
#a= a+1     =     a++      =         a+=1    = 자기 자신에 1을 증가
a+=1 #**    
print(a)
a = a-1         #자기 자신에 1을 감소
print(a)
a-=1
print(a)

1
2
1
0

In [7]:
a,b =10,20
print('a=%d, b=%d' % (a,b))

a,b = b,a
print('a = %d, b = %d' %(a,b))

a=10, b=20
a = 20, b = 10

In [8]:
1 ==1   #같다

True

In [9]:
1 !=1   #같지않다

False

In [10]:
1 !=2

True

In [11]:
# 시퀀스 연산자 : 순서가 있는 구조 시퀀스(리스트, 튜플, 문자열, range)

[1,3,5] + [2,4,6]

[1, 3, 5, 2, 4, 6]

In [12]:
'hello' + ' ' + 'python'   #빈칸은 띄어쓰기

'hello python'

In [15]:
[1,3,5] *2

[1, 3, 5, 1, 3, 5]

In [16]:
'*' *20

'********************'

In [17]:
#  멤버쉽 연산자
5 in[1,2,3,4,5]

True

In [18]:
5 not in[1,2,3,4,5]

False

In [19]:
'a' in 'apple'

True

In [21]:

a = input('10~99사이의 정수를 입력하세요 >>>')
print(f'십의 자리 : {a[0]}')
print(f'일의 자리 : {a[1]}')

10~99사이의 정수를 입력하세요 >>>45
십의 자리 : 4
일의 자리 : 5

In [22]:
a = int(input('10~99사이의 정수를 입력하세요 >>>'))

print(f'십의 자리 : {a//10}')
print(f'십의 자리 : {a%10}')

10~99사이의 정수를 입력하세요 >>>46
십의 자리 : 4
십의 자리 : 6

In [25]:
a = int(input('초를 입력하세요>>>'))
print(f'반환 결과는 {a //3600}시간 {a %3600 //60}분{a%60}초 입니다.')

# a = 3690
# #1시간 = 60분 = 1*60*60 초 = 3600초
# b = a //3600   #//앞의값만 몫
# print(b)
# c = a %3600 //60    # % 나머지 
# print(c)
# d = a%60

초를 입력하세요>>>4200
반환 결과는 1시간 10분0초 입니다.

In [29]:
a = int(input('4자리 사원번호를 입력하세요>>>'))

a_1 = a%10

if a_1 >=5:
  print('근무시간은 오전입니다.') 
else:
    print('근무시간은 오후입니다.')

4자리 사원번호를 입력하세요>>>1255
근무시간은 오전입니다.

In [32]:
# if ,else
# 조건문은 특정 조건을 만족하는지의 여부에따라 실행되는 코드가 달라져야할 때 사용

a = 0
int(input('숫자를 입력하세요>>>'))

if a>0:
  print('양수')
else :
  print('음수')

숫자를 입력하세요>>>-5
음수

In [ ]:
#https://colab.research.google.com/drive/1R1SAxFSbudgKVHb8mAmePYPHCPkmygga?usp=sharing