<a href="https://colab.research.google.com/github/dldbsdn/pythonbasicclass/blob/main/pythonbasicclassday2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 3 기본 자료형

int 정수 1,2,3,4
float 실수 3.14  , 2.18
bool 논리 true, false
str 문자열 '홍길동', '슈가'

In [ ]:
# 1. 정수  int

int(1.9)

In [ ]:
# int('100')
# 큰따옴표 또는 작은 따옴표 안에있는 숫자는 숫자처럼 보이지만 문자로 취급.

In [ ]:
# input ('숫자를 입력하세요>>>') # input 은 모든 입력을 문자로만 받는다.

# 숫자를 입력하세요>>> 123
# '123'

In [2]:
# int(input('숫자를 입력하세요>>>'))
# 숫자를 입력하세요 >>> 123
# 123

SyntaxError: ignored

In [6]:
# 논리 bool , boolean : True or False

bool(0)

False

In [3]:
bool(1)

True

In [4]:
bool('')

False

In [5]:
bool('1')

True

In [ ]:
# 4 문자열 str  , string

a = '한국'
b = "한국"  #따옴표 상관없이 오류발생이 생기지않음.

a = '''대한
민국 '''

In [7]:
str(100)

'100'

In [9]:
str(True)

'True'

In [11]:
str(False)

'False'

In [12]:
# 문자열 인덱싱 (intdexing)
# 인덱싱은 문자열을 구성하는 모든 문자에 부여한 고유의 번호이다.

s = 'hello'
print(s[4]) #인덱스의 시작은 0이다
# h e l l o
# 0 1 2 3 4 각 문자의 인덱스 번호

#

o

In [13]:
# h e l l o
#-5 -4 -3 -2 -1
s = 'hello'
print(s[-1])

o

In [14]:
# 문자열 슬라이싱 slicing
# 문자열의 인덱스를 사용하여 한문자 이상을 구성된 단어나 문장을 추출

s = 'banana'
s [0:3]  # [시작 : 끝]

'ban'

In [17]:
addr = '서울시 강남구 역삼동 1번지'
print(addr[4:7])

강남구

In [ ]:
# 04 컬렉션 collection
# '여러 값을 하나의 이름으로 묶어서 관리하는 자료형'
# 리스트 list 튜플 tuple 딕셔너리 dict 셋 set

In [ ]:
# 리스트 list
# 리스트는 여러 값을 저장할때 가장 많이 사용되는 자료형이다.
# 특징
# 1.대괄호로 생성한다. []
# 2.여러가지 자료형을 하나의 리스트로 생성할 수 있다. (?)
# 3.mutable 한 속성을 갖는다 (수정, 삭제가 가능하다.)
# 4.intdexing, slicing 이 가능하다.

In [ ]:
list1 = [1,2,3,4]
list2 = [1,2,3,4,'대''한',True]

In [18]:
li = [100, 3.14, 'hello']

li[0]

100

In [20]:
li[0:3] #[start : stop(미만)]

[100, 3.14, 'hello']

In [21]:
scores = [50,40,30]
scores.append(100)
scores

[50, 40, 30, 100]

In [24]:
# append -리스트에 데이터를 추가
scores = [50,40,30]
scores.append(100) #값을 추가할때 사용하는 () 소괄호
scores

[50, 40, 30, 100]

In [23]:
# insert( ) - 리스트에 데이터를 추가
scores.insert(0,90) #특정위치에 데이터를 추가
scores

[90, 50, 40, 30, 100]

In [28]:
# pop() - 리스트에서 데이터 삭제
scores = [50,40,30]
scores.pop(2) 
scores

[50, 40]

In [ ]:
# 튜플 tuple
# 저장된 값을 변경할 수 없는 리스트
# 특징
# 1.소괄호로 생성한다. () 튜플은 괄호 생략 가능
# 2.여러가지 자료형을 하나의 튜플로 생성할 수 있다. (?)
# 3.immutable 한 속성을 갖는다 (수정, 삭제가 불가능하다.)
# 4.intdexing, slicing 이 가능하다.
# 5. 1개의 원소를 갖는 튜플을 생성할때는 , 쉼표를 붙인다.

In [29]:
# tu = (1)       , 없을시 int 로 인식된다.
# print(tu)
# print(type(tu))

tu = (1,)
print(tu)
print(type(tu))

(1,)
<class 'tuple'>

In [35]:
tu = 1,2,3,4,5
tu[0]

1

In [36]:
tu[0:3]

(1, 2, 3)

In [37]:
tu = (1,2,3,4,5)
tu[0]

1

In [ ]:
# set 셋 
#특징
# 1.중괄호로 생성한다. {}
# 2.여러가지 자료형을 하나의 셋으로 생성할 수 있다. (?)
# 3.mutable 한 속성을 갖는다 (수정, 삭제가 가능하다.)
# 4.intdexing, slicing 이 불가능하다. 순서가 없다.
# 5. 중복된 데이터를 함께 저장할 수 없다. (중복 불가능)

In [38]:
# 5
set = {1,1,2,3}   # 1,1, 두개가 중복 되기때문에 하나의 1이 사라진다. 여러개여도 마찬가지
set

{1, 2, 3}

In [39]:
# 3  추가
set.add(4)
set

{1, 2, 3, 4}

In [43]:
#3 삭제
set.remove(3)
set

{1, 2, 4}

In [53]:
# dict 딕셔너리 키값과 벨류값의 쌍으로 데이터를 저장하는 자료
# 자바에서의 map js 에서의json과 유사한 파이썬의 자료형

#특징
# 1.중괄호로 생성한다. {}
# 2.여러가지 자료형을 하나의 딕셔너리로 생성할 수 있다. (?)
# 3.mutable 한 속성을 갖는다 (수정, 삭제가 가능하다.)
# 4.intdexing, slicing 이 불가능하다. 순서가 없다.
# 5. 키와 벨류로 구성한다.

# dict = {'name' : '홍길동', 'age' : '24'}
d = {'a':'apple', 'b':'banana'}
d

{'a': 'apple', 'b': 'banana'}

In [54]:
d['c'] = 'cherry'
d

{'a': 'apple', 'b': 'banana', 'c': 'cherry'}

In [55]:
d['c'] = '체리'
d

{'a': 'apple', 'b': 'banana', 'c': '체리'}

In [56]:
d.pop('c')
d

{'a': 'apple', 'b': 'banana'}

In [57]:
#mutable : 리스트 셋 딕셔너리        (수정 삭제 가능)
#immutable : 튜플 정수 실수 문자열   (수정 삭제 불가능)

me = [1,2,3]
id(me) #실제 데이터가 저장된 메모리 위치

140301550570064

In [58]:
me.append(4)
id(me) #메모리의 실제주소가 변하지 않았다.

140301550570064

In [59]:
me

[1, 2, 3, 4]

In [62]:
# immutable

me = 10
id(me)

94752981842720

In [63]:
me += 1  #me = me +1
id(me)  #메모리의 주소가 바뀐것을 확인할 수 있다.

94752981842752